In [1]:
#import packages
import pandas as pd
import os

#define source directory
path='/home/muellerrol/causeminer2/reports/2021_11_09_103116_results'

#filenames of keyword-related files
keyw_file='keywords.csv'
keyw_counts_file='keyword_counts.csv'

#load data
keyw=pd.read_csv(os.path.join(path,keyw_file))
keyw_counts=pd.read_csv(os.path.join(path,keyw_counts_file))

print(keyw.shape)
print(keyw_counts.shape)

(27001, 2)
(13987, 2)

In [2]:
print(keyw.columns)
keyw.head()

Index(['article_id', 'keyword'], dtype='object')

   article_id                 keyword
0           2      managerial actions
1           2         decision making
2           2  computer based systems
3           4         Symbolic action
4           4      information system

In [3]:
print(keyw_counts.columns)
keyw_counts.head()

Index(['keyword', 'count'], dtype='object')

                  keyword  count
0           senior editor    174
1        associate editor    135
2     information systems    133
3  information technology    109
4              case study    108