In [1]:
#import packages
import pandas as pd
import os

#define source directory
path='/home/muellerrol/causeminer2/reports/2021_11_09_103116_results'

#filenames of tables-related files
tab_file='tables.csv'

#load data
tab=pd.read_csv(os.path.join(path,tab_file))

print(tab.shape)
print(tab.columns)

(55979, 6)
Index(['article_id', 'caption', 'figure_type', 'figure_head',
       'potential_constructs', 'choose'],
      dtype='object')

In [2]:
tab.head()

,article_id,caption,figure_type,figure_head,potential_constructs,choose
0,1,Conceptual Model.,NaN,Fig. 1 .,[],0
1,1,in parentheses. *** Sig. at p < 0.001; ** Sig....,NaN,NaN,[],0
2,1,Different Forms of Online User Communities.,table,Table 1,"['Firm-hosted online', 'Answering product rela...",0
3,1,Demographic Characteristics of the Employees (...,table,Table 2,['Gender'],0
4,1,Variable Descriptions and Measures.,table,Table 3,"['Variable', 'Users', 'Source of Measurement D...",0