In [6]:
#import packages
import pandas as pd
import os

#define source directory
path='/home/muellerrol/causeminer2/reports/2021_11_09_103116_results'

#filenames of sentence-related files
sent_file='sentences.csv'
con_sent_file='contruct_sentences.csv'
sent_cite_file='sentences_with_cite.csv'

#load data
sent=pd.read_csv(os.path.join(path, sent_file))
con_sent=pd.read_csv(os.path.join(path, con_sent_file))
sent_cite=pd.read_csv(os.path.join(path, sent_cite_file))

print("sentences:")
print(sent.shape)
print(sent.columns)
print("construct sencences:")
print(con_sent.shape)
print(con_sent.columns)
print("sencences with cite:")
print(sent_cite.shape)
print(sent_cite.columns)

sentences:
(7457426, 10)
Index(['article_id', 'sentence_id', 'para_id', 'sentence', 'section_nr',
       'last_section_title', 'last_subsection_title', 'sentence_type',
       'references', 'number_of_citations'],
      dtype='object')
construct sencences:
(0, 5)
Index(['article_id', 'sentence_start', 'sentence_id', 'construct', 'sentence'], dtype='object')
sencences with cite:
(4687939, 12)
Index(['Unnamed: 0', 'article_id', 'sentence_id', 'para_id', 'sentence',
       'section_nr', 'last_section_title', 'last_subsection_title',
       'sentence_type', 'number_of_citations', 'sentence_with_cite',
       'has_citation'],
      dtype='object')

In [7]:
sent_cite.head()

,Unnamed: 0,article_id,sentence_id,para_id,sentence,section_nr,last_section_title,last_subsection_title,sentence_type,number_of_citations,sentence_with_cite,has_citation
0,2,1,1_2_23,1_0,Examining interdependence between product user...,0,NaN,NaN,PARAGRAPH,0,Examining interdependence between product user...,0
1,5,1,1_25_26,1_1,A,0,Abstract,NaN,ABSTRACT,0,A,0
2,6,1,1_26_29,1_1,B S T,0,Abstract,NaN,ABSTRACT,0,B S T,0
3,7,1,1_29_31,1_1,R A,0,Abstract,NaN,ABSTRACT,0,R A,0
4,8,1,1_31_51,1_1,C TFirm - sponsored online user communities ha...,0,Abstract,NaN,ABSTRACT,0,C TFirm - sponsored online user communities ha...,0

In [10]:
print(sent_cite.sentence[200])
print(sent_cite.sentence_with_cite[200])

And we chose a 2-year time interval to be in line with previous studies ( e.g. , Singh et al . , 2014 ; Yan et al . , 2018 ) .
And we chose a 2-year time interval to be in line with previous studies ( e.g. ,     CITE_singh_p_how_to_attract_and_retain_readers_in_enterprise_blogging_2014_information_systems_research     CITE_yan_j_the_differential_innovativeness_outcomes_of_user_and_employee_participation_in_an_online_user_innovation_community_2018_journal_of_management_information_systems .

In [8]:
sent.iloc[200:210,:]

,article_id,sentence_id,para_id,sentence,section_nr,last_section_title,last_subsection_title,sentence_type,references,number_of_citations
200,1,1_3322_3352,1_24,Plotting a significant interaction effect help...,8,Credibility,NaN,PARAGRAPH,[],0
201,1,1_3352_3372,1_24,") END_CITE CITE_b0 provided some "" golden ...",8,Credibility,NaN,PARAGRAPH,['1_b0'],1
202,1,1_3372_3420,1_24,"Beyond these , determining whether the simple ...",8,Credibility,NaN,PARAGRAPH,['1_b7'],1
203,1,1_3420_3421,1_24,END_PARAGRAPH_TAG,8,Credibility,NaN,TAG,[],0
204,1,1_3421_3422,1_24,,8,Credibility,NaN,EMPTY,[],0
205,1,1_3422_3423,1_25,START_PARAGRAPH_TAG,8,Credibility,NaN,TAG,[],0
206,1,1_3423_3472,1_25,"Second , if alternative measurements , methods...",8,Credibility,NaN,PARAGRAPH,[],0
207,1,1_3472_3482,1_25,Supplementary analyses and robustness checks c...,8,Credibility,NaN,PARAGRAPH,[],0
208,1,1_3482_3512,1_25,"For example , START_CITE Tsai and Ghoshal ( ...",8,Credibility,NaN,PARAGRAPH,['1_b10'],1
209,1,1_3512_3540,1_25,Although they proposed the hypotheses at the i...,8,Credibility,NaN,PARAGRAPH,[],0

In [3]:
con_sent.head()

Empty DataFrame
Columns: [article_id, sentence_start, sentence_id, construct, sentence]
Index: []

In [4]:
con_sent.shape

(0, 5)

In [5]:
con_sent.columns

Index(['article_id', 'sentence_start', 'sentence_id', 'construct', 'sentence'], dtype='object')

In [9]:
sent.shape

(28655736, 10)

In [11]:
sent.para_id.isna().value_counts()

False    7457426
Name: para_id, dtype: int64