In [1]:
#import packages
import pandas as pd

In [4]:
#load data
abbr=pd.read_csv('C:/Users/luisa/Documents/BIPM_2/DWH4SLR/reports/abbreviations.csv')
abbr.head()

,article_id,sentence_start,sentence_id,abbreviation,definition,sentence,start,end
0,2,7145,2_7145_7206,NB,negative binomial,We chose to estimate a negative binomial (NB) ...,7153,7154
1,2,7401,2_7401_7424,ZINB,zero-inflated negative binomial fixed-effects,We therefore chose to estimate a full zero-inf...,7417,7418
2,2,7427,2_7427_7506,ZINB,zero-inflated negative binomial fixed-effects,The ZINB model assumes that two distinct proce...,7428,7429
3,2,7427,2_7427_7506,ZINB,zero-inflated negative binomial fixed-effects,The ZINB model assumes that two distinct proce...,7466,7467
4,2,7506,2_7506_7535,NB,negative binomial,We used a conditional estimator in START_CITE...,7528,7529

In [11]:
abbr.shape

(2476359, 8)

In [16]:
#how many unique values are inside the dataset
print('unique articles:', abbr.article_id.nunique())
print('unique sentences:', abbr.sentence_id.nunique())
print('unique abbreviations:', abbr.abbreviation.nunique())

unique articles: 34440
unique sentences: 1866497
unique abbreviations: 25718

In [23]:
#article with the most abbreviations
abbr.groupby('article_id').abbreviation.nunique().sort_values(ascending=False)
#article 22478 contains 79 abbreviations!

article_id
22478    79
13456    78
50150    71
19294    63
18274    58
         ..
21247     1
24587     0
24975     0
50356     0
14571     0
Name: abbreviation, Length: 34440, dtype: int64

In [29]:
#which abbreviations does that article contain?
abbr[abbr.article_id==22478][['abbreviation', 'definition']]

        abbreviation                                   definition
1072010           IT                       information technology
1072011          VAR                        vector autoregression
1072012          ALE                      Average Loss Expectancy
1072013          VAR                        vector autoregression
1072014          VAR                        vector autoregression
...              ...                                          ...
1072137         ITRU  InterTrust Technologies Corp \n \n \n \n \n
1072138         SCUR                             Secure Computing
1072139         SNWL                                    SonicWALL
1072140         IQBM                                Biometrix Inc
1072141         SCLD                               SteelCloud inc

[132 rows x 2 columns]