In [2]:
#import packages
import pandas as pd

#load data
cit=pd.read_csv('C:/Users/luisa/Documents/BIPM_2/DWH4SLR/reports/citations.csv')

cit.head(20)

    article_id  sentence_id reference_key
0            1    1_594_627          1_b4
1            1  1_1073_1108          1_b6
2            1  1_1558_1585          1_b5
3            1  1_2416_2440          1_b1
4            1  1_2865_2898          1_b3
5            1  1_3352_3372          1_b0
6            1  1_3372_3420          1_b7
7            1  1_3482_3512         1_b10
8            1  1_3642_3666          1_b2
9            1  1_3802_3874          1_b8
10           2    2_331_363         2_b42
11           2    2_363_427         2_b38
12           2    2_363_427         2_b42
13           2    2_439_476         2_b63
14           2    2_476_511         2_b30
15           2    2_618_649         2_b16
16           2    2_664_697         2_b42
17           2    2_697_727         2_b45
18           2    2_803_857         2_b60
19           2    2_803_857         2_b19

In [3]:
cit.columns

Index(['article_id', 'sentence_id', 'reference_key'], dtype='object')

In [7]:
cit.shape

(2578430, 3)

In [6]:
#does reference key relate to a specific paper? Lets check out references_raw.csv to see if we find the reference keys of the same format here as well!
ref=pd.read_csv('C:/Users/luisa/Documents/BIPM_2/DWH4SLR/reports/references_raw.csv')

ref.head()

,article_id,reference_key,authors,year,title,journal,volume,issue,pages,source_type,publisher,place,editor,monograph_title,note
0,1,1_b0,"Aiken, L.; West, S.",1991,Multiple regression: Testing and interpreting ...,NaN,NaN,NaN,NaN,monograph,Sage,"Newbury Park, CA",NaN,Multiple regression: Testing and interpreting ...,NaN
1,1,1_b1,"Arthaud-Day, M.; Certo, S.; Dalton, C.; Dalton...",2006,A changing of the guard: Executive and directo...,Academy of Management Journal,49,NaN,1119-1136,article,NaN,NaN,NaN,NaN,NaN
2,1,1_b2,"Barnett, M.; King, A.",2008,Good fences make good neighbors: A longitudina...,Academy of Management Journal,51,NaN,1150-1170,article,NaN,NaN,NaN,NaN,NaN
3,1,1_b3,"Bem, D.",1987,The compleat academic: A practical guide for t...,NaN,NaN,NaN,171-201,monograph,NaN,New York,M. P. Zanna & J. M. Darley,The compleat academic: A practical guide for t...,Writing the empirical journal article. Random ...
4,1,1_b4,"Bommer, W.; Dierdorff, E.; Rubin, R.",2007,Does prevalence mitigate relevance? The modera...,Academy of Management Journal,50,NaN,1481-1494,article,NaN,NaN,NaN,NaN,NaN

In [9]:
#yes, this looks like an extensive list of all quoted references. 
print('references shape:', ref.shape)
ref.columns

references shape: (1765502, 15)

Index(['article_id', 'reference_key', 'authors', 'year', 'title', 'journal',
       'volume', 'issue', 'pages', 'source_type', 'publisher', 'place',
       'editor', 'monograph_title', 'note'],
      dtype='object')

17k references for 25k citations in total makes sense. Probably these are the bibliographies of the  recorded papers. If a paper is referenced several times in the text it would not need to be listed more than once, this would explain the "slight" difference of rows in both dataframes.

It also does not look like the literature in the reference dataframe was linked to items that are actually analysed papers (those that would go to our fact table), as no foreign key can be found here...