In [3]:

from variables import sourcepath
import os
import pandas as pd
import numpy as np
import etl.dim_author as auth
import etl.dim_journal as jour
import etl.common_functions as cof
import etl.dim_paper as pape
import etl.database as db
from db_credentials import dwh_db_connection_params
import datetime

In [4]:
eng, psycop2connect=db.initialize_engine(connection_params=dwh_db_connection_params)

In [6]:
source_facts=cof.load_sourcefile('entities.csv')[['sentence_id', 'ent_id']]
source_facts

              sentence_id                     ent_id
0               1_331_363       knowledge repository
1               1_476_511           digital platform
2               1_511_536             Salesforce.com
3               1_539_560       participatory design
4               1_874_899          group participant
...                   ...                        ...
2137613  7484_13503_13545                 government
2137614  7484_13503_13545  health information system
2137615  7484_13545_13568                    America
2137616  7484_13545_13568                   Slovenia
2137617  7484_13568_13586                 government

[2137618 rows x 2 columns]

In [7]:
print(source_facts.shape)
#tbd introduce count fact measure? currently duplicates get dropped but maybe this should be fixed!
source_facts.drop_duplicates().shape

(2137618, 2)

(1935582, 2)

In [8]:
source_facts.drop_duplicates(inplace=True)

In [10]:
dim_sentence=db.load_full_table(eng, 'dim_sentence')
dim_entity=db.load_full_table(eng, 'dim_entity')

In [15]:
dim_entity.head(2)

   entity_pk entity_label           entity_name
0          1        TOPIC  knowledge repository
1          2        TOPIC      digital platform

In [16]:
source_facts=pd.merge(source_facts, dim_sentence, how='left', left_on='sentence_id', right_on='sentence_source_id')[['ent_id', 'sentence_pk']]
source_facts=pd.merge(source_facts, dim_entity, how='left', left_on='ent_id', right_on='entity_name')[['entity_pk', 'sentence_pk']]
source_facts

         entity_pk  sentence_pk
0                1         16.0
1                2         20.0
2                3         21.0
3                4         22.0
4                5         33.0
...            ...          ...
1935577        181    3324087.0
1935578        186    3324087.0
1935579        256    3324088.0
1935580        987    3324088.0
1935581        181    3324089.0

[1935582 rows x 2 columns]